huggingface-hub
torch
transformers
accelerate
numpy
scikit-learn
matplotlib
peft
bitsandbytes
pandas
plotly
shortuuid
git+https://github.com/lm-sys/FastChat.git#egg=fschat[model_worker,llm_judge]
openai
anthropic